$defaultpadding-mobile-left: 20px;
$defaultpadding-mobile-right: 20px;

$defaultpadding-tablet-top: 100px;
$defaultpadding-tablet-left: 100px;
$defaultpadding-tablet-right: 100px;

$defaultpadding-desktop-top: 200px;
$defaultpadding-desktop-right: 100px;
$defaultpadding-desktop-left: 100px;

$purple: #512d6d;
$coral: #f8485e;
$white: #eeeeee;
$lightblue: #00c1d4;
$grey: #d8d8d8;
$background-color: #eeeded;
