@import "./partials";

@mixin default-padding {
  padding-left: $defaultpadding-left;
  padding-top: $defaultpadding-top;
  padding-right: $defaultpadding-right;
}

@mixin default-icons {
  &__container {
    width: 40px;
    height: 40px;

    &--smaller {
      width: 33px;
      height: 33px;
      padding-top: 7px;
      padding-left: 7px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

@mixin default-h1-and-para {
  &__h1 {
    font-size: 30px;
    font-weight: 100;
  }
  &__para {
    font-size: 20px;
  }
}
