@import "./partials";

@mixin default-padding-desktop {
  padding-left: $defaultpadding-desktop-left;
  padding-top: $defaultpadding-desktop-top;
  padding-right: $defaultpadding-desktop-right;
}

@mixin default-icons {
  &__container {
    width: 40px;
    height: 40px;

    &--smaller {
      width: 33px;
      height: 33px;
      padding-top: 7px;
      padding-left: 7px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

@mixin default-h1-and-para {
  &__h1 {
    font-size: 29px;
    font-weight: 100;
    color: $purple;
  }

  &__para {
    font-size: 22px;
    color: $purple;
    text-align: justify;
  }
}
