@use "./modules.scss";
@import "./partials";

@mixin projects-page($padding-left) {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  padding-left: $padding-left;
  padding-right: 20px;
  color: $purple;
}

@mixin collapsible-section($font-size) {
  display: flex;
  &__collapsible {
    background-color: $background-color;
    color: $purple;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: $font-size;
  }

  &__plus {
    text-align: end;
  }
  &__content {
    margin: 0 20px;
    text-align: justify;
    padding: 0 18px;
  }
}
