@use "./modules.scss";
@use "./devices.scss";
@use "./page-one.scss";
@use "./page-two.scss";
@use "./page-three.scss";
@import "./partials";

* {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

.first-page {
  background-image: linear-gradient($purple, $coral, $white);
  background-size: cover;
  height: 100vh;
}

@include devices.mobile {
  //Page One : max-width: 576px
  .name-box {
    padding: 150px 20px 0 20px;

    &__my-name {
      @include page-one.about-page-text(44px);
    }

    &__title {
      @include page-one.about-page-text(28px);
      padding-top: 20px;
    }
  }

  .icons {
    @include page-one.about-page-icons($defaultpadding-mobile-left);
  }

  //Page Two : max-width: 576px
  .about-page {
    @include page-two.about-me-section(
      0,
      $defaultpadding-mobile-left,
      $defaultpadding-mobile-right
    );
    flex-direction: column-reverse;
    @include modules.default-h1-and-para;
  }

  .card {
    &__list {
      @include page-two.list-style;
      margin-top: 40px;
    }

    @include page-two.element(22px, 5px, 10px, 10px, 5px);
  }

  //Page Three : max-width: 576px
  .projects-page {
    @include page-three.projects-page($defaultpadding-mobile-left);
  }

  .card {
    @include modules.default-h1-and-para;
  }

  .sec {
    @include page-three.collapsible-section(19px);
  }
}

@include devices.tablet {
  //Page One : 576 - 1200px
  .name-box {
    padding: 250px 0 0 100px;

    &__my-name {
      @include page-one.about-page-text(54px);
    }

    &__title {
      @include page-one.about-page-text(35px);
      padding-top: 20px;
    }
  }

  .icons {
    @include page-one.about-page-icons($defaultpadding-tablet-left);
  }

  //Page Two : 576 - 1200px
  .about-page {
    @include page-two.about-me-section(
      $defaultpadding-tablet-top,
      $defaultpadding-tablet-left,
      $defaultpadding-tablet-right
    );

    flex-direction: column-reverse;
    @include modules.default-h1-and-para;
  }

  .card {
    &__list {
      @include page-two.list-style;
      margin-top: 40px;
    }

    @include page-two.element(22px, 5px, 10px, 10px, 5px);
  }

  //Page Three : 576 - 1200px
  .projects-page {
    @include page-three.projects-page($defaultpadding-tablet-left);
    padding: 100px;
  }

  .card {
    @include modules.default-h1-and-para;
  }

  .sec {
    @include page-three.collapsible-section(23px);
  }
}

@include devices.desktop {
  //Page One : width: 1200px ++
  .name-box {
    padding: $defaultpadding-desktop-top $defaultpadding-desktop-right 0
      $defaultpadding-desktop-left;

    &__my-name {
      @include page-one.about-page-text(54px);
    }

    &__title {
      @include page-one.about-page-text(28px);
      padding-top: 15px;
    }
  }

  .icons {
    @include page-one.about-page-icons($defaultpadding-desktop-left);
  }

  //Page Two : width: 1200px ++
  .about-page {
    @include page-two.about-me-section(
      $defaultpadding-tablet-top,
      $defaultpadding-desktop-left,
      $defaultpadding-desktop-right
    );
    justify-content: row;
    @include modules.default-h1-and-para;
  }

  .card {
    &__list {
      @include page-two.list-style;
      padding: 3px;
    }

    @include page-two.element(14px, 15px, 30px, 14px, 15px);
  }

  //Page Three : width: 1200px ++
  .projects-page {
    @include page-three.projects-page($defaultpadding-desktop-left);
    height: 80vh;
    justify-content: row;
    @include modules.default-padding-desktop;
  }

  .card {
    width: 100%;
    padding-right: 100px;
    @include modules.default-h1-and-para;
  }

  .sec {
    @include page-three.collapsible-section(23px);
  }
}

// FOOTER
.footer {
  height: 100px;
  background-color: $purple;
  display: flex;
  justify-content: center;
  align-items: center;
  @include modules.default-icons;
}
