@use "./modules.scss";
@import "./partials";

* {
  margin: 0;
}

//first page
.first-page {
  background-color: #0f0e0e;
  height: 100vh;
  width: 100vw;
}

.box {
  @include modules.default-padding;

  &__my-name {
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif; //newake or Librefrankin
    font-weight: 100;
    color: white;
  }

  &__title {
    font-size: 20px;
    font-weight: 100;
    color: white;
  }
}

.icons {
  padding-left: 200px;
  padding-top: 100px;
}

//Second page
.about-page {
  height: 100vh;
  width: 100vw;
  background-color: #35c1f5;
  display: flex;
  justify-content: row;

  &__card {
    @include modules.default-padding;
    width: 100%;
  }
}

//third (projects) page
.projects-page {
  height: 100vh;
  width: 100vw;
  background-color: #bcb8b8;
  display: flex;
  justify-content: row;
}

.card {
  // border: 2px solid black;
  @include modules.default-padding;
  width: 100%;

  &__projects {
    width: 100%;
    padding-top: $defaultpadding-top;
  }

  &__skills-list {
    width: 100%;
  }

  &__skill {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

footer {
  width: 100vw;
  height: 100px;
}
