@use "./modules.scss";
@import "./partials";

* {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

//first page
.first-page {
  background-image: linear-gradient($purple, $coral, $white);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.name-box {
  @include modules.default-padding;

  &__my-name {
    font-size: 54px;
    font-weight: 100;
    color: white;
  }

  &__title {
    font-size: 28px;
    font-weight: 100;
    color: white;
    padding-top: 15px;
  }
}

.icons {
  padding-left: $defaultpadding-left;
  padding-top: 15px;
  display: flex;
  @include modules.default-icons;
}

//Second page
.about-page {
  height: 100vh;
  width: 100vw;
  background-color: #eeeded;
  display: flex;
  justify-content: row;

  &__card {
    @include modules.default-padding;
    width: 100%;
  }
  @include modules.default-h1-and-para;
}

.card {
  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
    margin-bottom: 50px;
  }

  &__element {
    border: 0.5px solid $grey;
    font-size: 14px;
    font-weight: 200;
    padding: 15px 30px;
    border-radius: 14px;
    margin: 2px 15px;
    color: white;

    &--tech {
      background-color: $lightblue;
    }
    &--tools {
      background-color: $coral;
    }
    &--soft {
      background-color: $purple;
    }
  }
}

//Third (projects) page
.projects-page {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: row;
}

.card {
  @include modules.default-padding;
  width: 100%;
  @include modules.default-h1-and-para;
}

.sec {
  display: flex;

  &__collapsible {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 23px;
  }

  &__plus {
    text-align: end;
  }
  &__content {
    margin: 0 20px;
    text-align: justify;
    padding: 0 18px;
  }
}

// FOOTER

.footer {
  width: 100vw;
  height: 100px;
  background-color: $purple;
  display: flex;
  justify-content: center;
  align-items: center;
  @include modules.default-icons;
}
