/* Style the button that is used to open and close the collapsible content */
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

* {
  margin: 0;
  font-family: "Libre Franklin", sans-serif;
}

.first-page {
  background-image: linear-gradient(#512d6d, #f8485e, #eeeeee);
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 576px) {
  .name-box {
    padding: 150px 20px 0 20px;
  }
  .name-box__my-name {
    font-size: 44px;
    font-weight: 100;
    color: white;
  }
  .name-box__title {
    font-size: 28px;
    font-weight: 100;
    color: white;
    padding-top: 20px;
  }
  .icons {
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
  }
  .icons__container {
    width: 40px;
    height: 40px;
  }
  .icons__container--smaller {
    width: 33px;
    height: 33px;
    padding-top: 7px;
    padding-left: 7px;
  }
  .icons__container img {
    width: 100%;
    height: auto;
  }
  .about-page {
    background-color: #eeeded;
    display: flex;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    flex-direction: column-reverse;
  }
  .about-page__h1 {
    font-size: 29px;
    font-weight: 100;
    color: #512d6d;
  }
  .about-page__para {
    font-size: 22px;
    color: #512d6d;
    text-align: justify;
  }
  .card__list {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .card__element {
    border: 0.5px solid #d8d8d8;
    font-size: font-size;
    font-weight: 200;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 2px 5px;
    color: white;
  }
  .card__element--tech {
    background-color: #00c1d4;
  }
  .card__element--tools {
    background-color: #f8485e;
  }
  .card__element--soft {
    background-color: #512d6d;
  }
  .projects-page {
    background-color: #eeeded;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    color: #512d6d;
  }
  .card__h1 {
    font-size: 29px;
    font-weight: 100;
    color: #512d6d;
  }
  .card__para {
    font-size: 22px;
    color: #512d6d;
    text-align: justify;
  }
  .sec {
    display: flex;
  }
  .sec__collapsible {
    background-color: #eeeded;
    color: #512d6d;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
  }
  .sec__plus {
    text-align: end;
  }
  .sec__content {
    display: none;
    margin: 0 20px;
    text-align: justify;
    padding: 0 18px;
  }
}
@media only screen and ((min-width: 577px) and (max-width: 1200px)) {
  .name-box {
    padding: 250px 0 0 100px;
  }
  .name-box__my-name {
    font-size: 54px;
    font-weight: 100;
    color: white;
  }
  .name-box__title {
    font-size: 35px;
    font-weight: 100;
    color: white;
    padding-top: 20px;
  }
  .icons {
    padding-top: 15px;
    padding-left: 100px;
    display: flex;
  }
  .icons__container {
    width: 40px;
    height: 40px;
  }
  .icons__container--smaller {
    width: 33px;
    height: 33px;
    padding-top: 7px;
    padding-left: 7px;
  }
  .icons__container img {
    width: 100%;
    height: auto;
  }
  .about-page {
    background-color: #eeeded;
    display: flex;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    flex-direction: column-reverse;
  }
  .about-page__h1 {
    font-size: 29px;
    font-weight: 100;
    color: #512d6d;
  }
  .about-page__para {
    font-size: 22px;
    color: #512d6d;
    text-align: justify;
  }
  .card__list {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  .card__element {
    border: 0.5px solid #d8d8d8;
    font-size: font-size;
    font-weight: 200;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 2px 5px;
    color: white;
  }
  .card__element--tech {
    background-color: #00c1d4;
  }
  .card__element--tools {
    background-color: #f8485e;
  }
  .card__element--soft {
    background-color: #512d6d;
  }
  .projects-page {
    background-color: #eeeded;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 20px;
    color: #512d6d;
    padding: 100px;
  }
  .card__h1 {
    font-size: 29px;
    font-weight: 100;
    color: #512d6d;
  }
  .card__para {
    font-size: 22px;
    color: #512d6d;
    text-align: justify;
  }
  .sec {
    display: flex;
  }
  .sec__collapsible {
    background-color: #eeeded;
    color: #512d6d;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 23px;
  }
  .sec__plus {
    text-align: end;
  }
  .sec__content {
    display: none;
    margin: 0 20px;
    text-align: justify;
    padding: 0 18px;
  }
}
@media only screen and (min-width: 1201px) {
  .name-box {
    padding: 200px 100px 0 100px;
  }
  .name-box__my-name {
    font-size: 54px;
    font-weight: 100;
    color: white;
  }
  .name-box__title {
    font-size: 28px;
    font-weight: 100;
    color: white;
    padding-top: 15px;
  }
  .icons {
    padding-top: 15px;
    padding-left: 100px;
    display: flex;
  }
  .icons__container {
    width: 40px;
    height: 40px;
  }
  .icons__container--smaller {
    width: 33px;
    height: 33px;
    padding-top: 7px;
    padding-left: 7px;
  }
  .icons__container img {
    width: 100%;
    height: auto;
  }
  .about-page {
    background-color: #eeeded;
    display: flex;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    justify-content: row;
  }
  .about-page__h1 {
    font-size: 29px;
    font-weight: 100;
    color: #512d6d;
  }
  .about-page__para {
    font-size: 22px;
    color: #512d6d;
    text-align: justify;
  }
  .card__list {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 3px;
  }
  .card__element {
    border: 0.5px solid #d8d8d8;
    font-size: font-size;
    font-weight: 200;
    padding: 15px 30px;
    border-radius: 14px;
    margin: 2px 15px;
    color: white;
  }
  .card__element--tech {
    background-color: #00c1d4;
  }
  .card__element--tools {
    background-color: #f8485e;
  }
  .card__element--soft {
    background-color: #512d6d;
  }
  .projects-page {
    background-color: #eeeded;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 20px;
    color: #512d6d;
    height: 80vh;
    justify-content: row;
    padding-left: 100px;
    padding-top: 200px;
    padding-right: 100px;
  }
  .card {
    width: 100%;
    padding-right: 100px;
  }
  .card__h1 {
    font-size: 29px;
    font-weight: 100;
    color: #512d6d;
  }
  .card__para {
    font-size: 22px;
    color: #512d6d;
    text-align: justify;
  }
  .sec {
    display: flex;
  }
  .sec__collapsible {
    background-color: #eeeded;
    color: #512d6d;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 23px;
  }
  .sec__plus {
    text-align: end;
  }
  .sec__content {
    display: none;
    margin: 0 20px;
    text-align: justify;
    padding: 0 18px;
  }
}
.footer {
  height: 100px;
  background-color: #512d6d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__container {
  width: 40px;
  height: 40px;
}
.footer__container--smaller {
  width: 33px;
  height: 33px;
  padding-top: 7px;
  padding-left: 7px;
}
.footer__container img {
  width: 100%;
  height: auto;
}
